{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Creación</th>
                                    <th>Edición</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for curso in listado_cursos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{curso.codigo}}</td>
                                    <td>{{curso.nombre}}</td>
                                    <td>{{curso.fecha_creacion}}</td>
                                    <td>{{curso.fecha_actualizacion}}</td>
                                    <td>
                                        <a href="{% url 'editar_curso' curso.id %}" class="btn btn-primary">Editar</a> -
                                        <a href="{% url 'borrar_curso' curso.id %}" onclick="return confirm('Quieres eliminar este registro?')" class="btn btn-danger">Borrar</a> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}